@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Nunito:wght@400;700;900&display=swap");

:root {
  /* Color */
  --cor01: #000000;
  --cor02: #181818;
  --cor03: #ffffff;
  --cor04: #b10101;

  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --nunito: "Nunito", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 3%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--nunito);
}

body {
  background-color: var(--cor01);
}

header {
  background: var(--cor01);
  color: var(--cor03);
  padding: 15px 40px;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

nav h1 {
  font-size: 40px;
  font-weight: 900;
}

nav h1 span {
  color: var(--cor04);
  color: w;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 45px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}
nav li a {
  color: var(--cor03);
  text-decoration: none;
}

nav li a:hover {
  color: var(--cor04);
  transition: 0.5s;
  font-size: 16px;
  font-weight: 800;
}

.section_header {
  background-color: var(--cor02);
}

.section_header .container {
  color: var(--cor03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 3%;
  margin: 0 auto;
}

.nome {
  width: 50%;
  padding-right: 20px;
}

.nome h1 {
  font-family: var(--montserrat);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nome h3 {
  font-family: var(--montserrat);
  font-size: 28px;
  margin-left: 5px;
  letter-spacing: 1px;
  font-weight: 800;
}

.nome h3 span {
  color: var(--cor04);
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 1px;
}

/* .section_header img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(109 109 109 / 82%);
} */

.sobre {
  text-align: center;
}

.sobre .container {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.minha_img {
  width: 45%;
}

.minha_img img {
  width: 80%;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 22px rgb(109 109 109 / 62%);
}

.minha_descricao {
  display: flex;
  text-align: left;
  width: 45%;
  min-height: 100px;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
}

.t_descricao {
  color: var(--cor03);
  min-width: 100%;
}

.t_descricao h2 {
  font-family: var(--montserrat);
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: 800;
}

.minha_descricao p {
  color: var(--cor03);
  max-width: 500px;
  text-transform: capitalize;
  font-family: var(--nunito);
  font-size: 16px;
  letter-spacing: 0.7px;
  min-height: 115px;
}

.btn_contato {
  width: 100%;
}

button {
  background-color: var(--cor04);
  color: var(--cor03);
  height: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid var(--cor04);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 22px rgb(109 109 109 / 62%);
}

button:hover {
  color: var(--cor03);
  background-color: var(--cor01);
  border: 2px solid var(--cor04);
  transition: 0.5s;
}

.projetos {
  background-color: var(--cor02);
  text-align: center;
  padding-top: 50px;
}

.projetos h2 span {
  color: var(--cor04);
  font-size: 35px;
  font-weight: 700;
  font-family: var(--montserrat);
}

.projetos h2 {
  color: var(--cor03);
  font-size: 35px;
  font-weight: 700;
  font-family: var(--montserrat);
}

.projetos .container {
  padding-top: 10px;
}

.main_projetos {
  padding: 50px 0;
  display: flex;
  /* justify-content: space-around; */
  gap: 35px;
  flex-wrap: wrap;
}

.item_projeto {
  background-color: var(--cor01);
  color: var(--cor03);
  width: 30%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  padding: 45px 0;
}

.item_projeto img {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item_projeto h3 {
  font-family: var(--nunito);
  font-size: 25px;
  font-weight: 900;
  margin-top: 10px;
}

.item_projeto p {
  font-size: 16px;
  text-align: justify;
  margin: 35px 20px;
}

.item_projeto button {
  margin: 0 auto;
}

.main_projetos a {
  color: var(--cor03);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1;
  cursor: pointer;
}

.scroll-up:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.scroll-up img {
  max-width: 50px;
}

footer {
  text-align: center;
  color: var(--cor03);
  background-color: var(--cor01);
  padding: 30px 3%;
}

footer h5 {
  font-size: 17px;
  font-family: var(--montserrat);
}

footer p {
  font-family: var(--montserrat);
  font-size: 14px;
}

.social {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  gap: 20px;
}

.social img {
  width: 35px;
  border-radius: 50%;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.description-function {
  width: 50%;
  line-height: 40px;
  background: #000;
  padding: 25px;
  border-radius: 15px;
  height: 315px;
}

.description-function::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: digit 0.6s infinite;
}

/*  Animação  */

/* .minha_descricao p::after {
  content: "|";
  margin-left: 1px;
  opacity: 1;
  animation: digit 0.6s infinite;
} */

@keyframes digit {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/*  responsivo  */

@media screen and (max-width: 920px) {
  header {
    padding: 15px;
  }

  nav {
    flex-wrap: wrap;
  }

  nav h1 {
    margin: auto;
  }

  nav ul {
    gap: 20px;
    flex-wrap: wrap;
    margin: 15px auto;
  }

  .description-function {
    width: 90%;
    text-align: left;
    margin: 30px auto;
  }

  .section_header .container {
    display: block;
    text-align: center;
    padding: 40px 3%;
  }

  .nome {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .section_header img {
    width: 80%;
    margin-top: 50px;
  }

  .sobre .container {
    display: block;
    padding: 50px;
  }

  .minha_img {
    width: 90%;
    margin: 0 auto;
  }

  .minha_descricao {
    margin: 0 auto;
    width: 100%;
  }

  .minha_descricao h2 {
    text-align: center;
    margin: 30px auto;
  }

  .minha_descricao p {
    max-width: 100%;
    font-size: 18px;
  }

  .btn_contato {
    text-align: center;
  }

  .item_projeto {
    width: 45%;
    margin: auto;
    min-height: 620px;
    padding: 15px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 70px 8%;
  }

  .section_header .container {
    width: 100%;
  }

  .nome {
    width: 100%;
  }

  .nome h1 {
    font-size: 30px;
  }

  .nome h3 {
    font-size: 25px;
  }

  .nome img {
    width: 50%;
  }

  .sobre .container {
    min-height: 650px;
  }

  .minha_descricao {
    margin-top: 40px;
  }

  .minha_descricao p {
    min-height: 150px;
  }

  .item_projeto {
    width: 100%;
    min-height: 620px;
    padding: 70px 15px;
  }
}

@media screen and (max-width: 545px) {
  .description-function {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .section_header .container {
    padding: 40px 8%;
  }

  .nome h1 {
    font-size: 25px;
  }

  .nome h3 {
    font-size: 17px;
  }
  .nome h3 span {
    font-size: 20px;
  }

  .nome img {
    width: 90%;
  }

  .section_header img {
    width: 100%;
  }

  .sobre .container {
    width: 100%;
    padding: 30px 8%;
    min-height: 550px;
  }

  .minha_img {
    width: 100%;
  }

  .minha_descricao h2 {
    margin: 10px auto;
    font-size: 25px;
  }

  .minha_descricao p {
    font-size: 16px;
    min-height: 155px;
  }

  .projetos {
    padding: 50px 4%;
  }

  .projetos h2,
  .projetos h2 span {
    font-size: 25px;
  }
}
